:root {
  --DM-Mono: 'DM Mono', monospace;
  --black-border: 1px solid black;
  --white-border: 1px solid white;
}

html,
body {
  font-family: var(--DM-Mono);
  overflow-x: hidden;
  width: 100vw;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

img {
  height: 37em;
  width: auto;
}

img,
button,
input,
textarea,
.modal {
  border-radius: 0.5em;
}

input,
textarea {
  box-sizing: border-box;
  font-family: inherit;
  width: 100%;
  max-width: 100%;
  padding: 0.5em;
  background-color: inherit;
  color: black;
  border: var(--black-border);
}

input:focus,
textarea:focus,
button:focus {
  outline: 1px solid black;
}

textarea {
  height: 10em;
}

button {
  font-family: inherit;
  text-align: center;
  margin-top: 2em;
  padding: 1em 2.5em;
  align-self: center;
  background-color: inherit;
  color: inherit;
  border: var(--black-border);
}

button:hover {
  color: white;
  background-color: black;
}

a {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: blue;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

header,
header div,
section,
section div,
form,
.form-inner-wrapper,
footer {
  display: flex;
}

header {
  max-width: 100vw;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
  box-sizing: border-box;
}

header div {
  width: 20%;
  justify-content: space-between;
}

section,
footer {
  min-height: 100vh;
  align-items: center;
  justify-content: space-between;
  padding: 0 4em;
  gap: 3em;
}

section div {
  flex-direction: column;
}

footer div {
  height: 200px;
  display: flex;
  gap: 2em;
}

footer div:first-child {
  flex-direction: column;
}

footer div:nth-child(2) {
  flex-direction: row;
}

.logo-link {
  max-height: 3em;
}

#synopsis div {
  padding-left: 5em;
}

#details div {
  width: 50%;
  height: 400px;
}

#dt-links {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

/* APPLY & FORM */

#apply {
  position: relative;
  justify-content: center;
  width: 100vw;
  box-sizing: border-box;
}

#privacy-link {
  margin-top: 1em;
}

#privacy-link:hover {
  cursor: pointer;
}

#sub-div {
  width: 100%;
}

form {
  margin-top: 2em;
  flex-direction: column;
  width: 100%;
}

.form-inner-wrapper {
  flex-direction: row;
  gap: 2em;
}

.form-field {
  width: 50%;
  flex-direction: column;
}

.form-field div:not(:first-child) {
  margin-top: 1em;
}

#charCount {
  width: 100%;
  text-align: end;
  color: grey;
}

#error {
  color: red;
}

/* UTILITY */

.text-large {
  text-transform: uppercase;
  font-size: 2em;
}

.text-small-caps {
  text-transform: uppercase;
}

.blue {
  color: blue;
}

.mt-small {
  margin-top: 1em;
}

/*  MODALS */

.modal {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  background-color: white;
  border: var(--black-border);
  width: 50vw;
  height: 40vh;
  padding: 3em;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#submitting {
  justify-content: center;
  align-items: center;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
  border: 1px solid var(--black-border);
}

.close-button:hover {
  cursor: pointer;
}
