:root {
  --DM-Mono: 'DM Mono', monospace;
}

html {
  font-family: var(--DM-Mono);
  overflow-x: hidden;
}

body {
  width: 100vw;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

form,
section,
#sub-div,
#thank-you {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#devil-banner {
  background-position: center;
  background-size: cover;
  background-image: url('./assets/banner.jpg');
}

#lexicon-logo img {
  max-width: 100%;
}

h1 {
  font-size: 12rem;
  letter-spacing: -0.15em;
  margin: 0.5em 0;
}

h2 {
  margin: 0, auto;
}

section {
  min-height: 100vh;
}

#submission {
  color: white;
  background-color: black;
  padding: 1em 0 3em 0;
  position: relative;
}

#thank-you {
  display: none;
  position: absolute;
  background-color: black;
  width: 40%;
  height: 30%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#close {
  position: absolute;
  top: 0.5em;
  right: 0.6em;
  font-size: 1.5em;
  cursor: pointer;
}

#submission p {
  text-align: center;
  width: 70%;
}

form {
  width: 80%;
  padding: 2em;
  margin-top: 1em;
}

.form-field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 1em;
  margin-bottom: 2em;
}

.form-field div {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

form,
input,
textarea,
#submit,
#thank-you {
  border: 1px solid white;
  border-radius: 0.5em;
}

input,
textarea {
  margin: 1em;
  padding: 0.5em;
  width: 100%;
  background-color: black;
  color: white;
  font-family: var(--DM-Mono);
}

input:focus,
textarea:focus {
  outline: none;
}

textarea {
  height: 6em;
}

span {
  color: gray;
  font-size: smaller;
}

#error {
  color: red;
}

#submit {
  margin-top: 2em;
  padding: 1em;
  width: 30%;
  font-family: var(--DM-Mono);
  background-color: white;
  color: black;
}

#submit:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  border: 1px solid white;
}

#about h2,
p {
  width: 80%;
}

.mp-small {
  padding: 0.25em;
  margin: 0;
}

.mt-small {
  margin-top: 1.2em;
}

@media only screen and (max-width: 60em) {
  h1 {
    font-size: 9em;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1em;
  }

  #about h2,
  p {
    text-align: center;
  }

  form {
    margin-bottom: 1em;
  }

  .form-field {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .form-field div {
    width: 90%;
  }

  textarea {
    height: 4em;
  }

  #submission {
    height: max-content;
  }

  #thank-you {
    width: 85%;
  }
}
